<h1>Reviews#new</h1>
<p>Find me in app/views/reviews/new.html.erb</p>

<%= simple_form_for [@restaurant, @review]  do |f| %>
  <%= f.input :content, placeholder: 'Sucked', label: 'How was it?', error: 'This field is mandatory' %>
  <%= f.input :rating, collection: 0..5 %>
  <%= f.button :submit, { class: 'btn-warning' } %>
<% end %>
